.container-fluid {
  background-color: yellow;
  padding: 15px;
  border: 3px solid black;
}

.header {
  background-color: blue;
  padding: 30px;
  border: 3px solid black;
}
.nav {
  background-color: green;
  padding: 30px;
  border: 3px solid black;
  height: 100px;
}
.content {
  background-color: red;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
.aside {
  background-color: aqua;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
.promo {
  background-color: orange;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
.footer {
  background-color: black;
  padding: 30px;
  height: 100px;
  color: white;
}

/* EXAMPLE NUMBER 1 */
/* MAX-WIDTH STARTS HIGHEST SIZE TO LOEST */
@media screen and (max-width : 768px) {
.content{
  background-color: pink;
}
}
@media screen and (max-width : 375px) {
.content{
  background-color: purple;
}
}
